<!doctype html>
<html class="fixed" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UrlParsing</title>
    <meta http-equiv="Content-Type" content="text/html;"/>
</head>
<body>
    <form action="/parse" method="get" enctype="multipart/form-data">
        <div>
            URL : <input type="text" name="url" placeholder="url" class="form-control"/>
        </div>
        <div>
            <select name="parsingType">
                <option value="HTML">HTML태그제외</option>
                <option value="TXT">TXT전체</option>
            </select>
        </div>
        <div>
           출력묶음단위: <input type="number" name="num" placeholder="숫자" class="form-control"/>
        </div>
        <button type="submit">입력</button>
    </form>
        <div>
            몫: <span th:text="${quotient}" ></span>
        </div>
        <div>
            나머지 : <span th:text="${remainder}"></span>
        </div>
</body>
<script type="text/javascript">

</script>
</html>